<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List View</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% include "blog/search-blog.html" %}

<h1>List View</h1>

<ul>
    {% for object in object_list %}
        <a href="{% url "blog:detail" id=object.id %}">
            <li>{{ object.title }}</li>
        </a>
        <br>
    {% endfor %}
</ul>

</body>
</html>